In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving E Commerce Dataset.xlsx to E Commerce Dataset.xlsx

In [ ]:
df = pd.read_excel('E Commerce Dataset.xlsx', sheet_name='E Comm')

## 1. Data Cleansing

### A. Handle Missing Values

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5630 entries, 0 to 5629
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   CustomerID                   5630 non-null   int64
 1   Churn                        5630 non-null   int64
 2   Tenure                       5366 non-null   float64
 3   PreferredLoginDevice         5630 non-null   object
 4   CityTier                     5630 non-null   int64
 5   WarehouseToHome              5379 non-null   float64
 6   PreferredPaymentMode         5630 non-null   object
 7   Gender                       5630 non-null   object
 8   HourSpendOnApp               5375 non-null   float64
 9   NumberOfDeviceRegistered     5630 non-null   int64
 10  PreferedOrderCat             5630 non-null   object
 11  SatisfactionScore            5630 non-null   int64
 12  MaritalStatus                5630 non-null   object
 13  NumberOfAddress              5630 non-null   int64
 14  Complain                     5630 non-null   int64
 15  OrderAmountHikeFromlastYear  5365 non-null   float64
 16  CouponUsed                   5374 non-null   float64
 17  OrderCount                   5372 non-null   float64
 18  DaySinceLastOrder            5323 non-null   float64
 19  CashbackAmount               5630 non-null   float64
dtypes: float64(8), int64(7), object(5)
memory usage: 879.8+ KB

In [ ]:
df.isna().sum()

CustomerID                       0
Churn                            0
Tenure                         264
PreferredLoginDevice             0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
HourSpendOnApp                 255
NumberOfDeviceRegistered         0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
NumberOfAddress                  0
Complain                         0
OrderAmountHikeFromlastYear    265
CouponUsed                     256
OrderCount                     258
DaySinceLastOrder              307
CashbackAmount                   0
dtype: int64

In [ ]:
df.describe()

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5366.000000,5630.000000,5379.000000,5375.000000,5630.000000,5630.000000,5630.000000,5630.000000,5365.000000,5374.000000,5372.000000,5323.000000,5630.000000
mean,52815.500000,0.168384,10.189899,1.654707,15.639896,2.931535,3.688988,3.066785,4.214032,0.284902,15.707922,1.751023,3.008004,4.543491,177.223030
std,1625.385339,0.374240,8.557241,0.915389,8.531475,0.721926,1.023999,1.380194,2.583586,0.451408,3.675485,1.894621,2.939680,3.654433,49.207036
min,50001.000000,0.000000,0.000000,1.000000,5.000000,0.000000,1.000000,1.000000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,51408.250000,0.000000,2.000000,1.000000,9.000000,2.000000,3.000000,2.000000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,145.770000
50%,52815.500000,0.000000,9.000000,1.000000,14.000000,3.000000,4.000000,3.000000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,163.280000
75%,54222.750000,0.000000,16.000000,3.000000,20.000000,3.000000,4.000000,4.000000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,196.392500
max,55630.000000,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,26.000000,16.000000,16.000000,46.000000,324.990000

In [ ]:
df['Tenure'].fillna(df.Tenure.median(), inplace=True)
df['WarehouseToHome'].fillna(df.WarehouseToHome.median(), inplace=True)
df['HourSpendOnApp'].fillna(df.HourSpendOnApp.median(), inplace=True)
df['OrderAmountHikeFromlastYear'].fillna(round(df.OrderAmountHikeFromlastYear.mean()), inplace=True)
df['CouponUsed'].fillna(df.CouponUsed.median(), inplace=True)
df['OrderCount'].fillna(df.OrderCount.median(), inplace=True)
df['DaySinceLastOrder'].fillna(df.DaySinceLastOrder.median(), inplace=True)

In [ ]:
df.isna().sum()

CustomerID                     0
Churn                          0
Tenure                         0
PreferredLoginDevice           0
CityTier                       0
WarehouseToHome                0
PreferredPaymentMode           0
Gender                         0
HourSpendOnApp                 0
NumberOfDeviceRegistered       0
PreferedOrderCat               0
SatisfactionScore              0
MaritalStatus                  0
NumberOfAddress                0
Complain                       0
OrderAmountHikeFromlastYear    0
CouponUsed                     0
OrderCount                     0
DaySinceLastOrder              0
CashbackAmount                 0
dtype: int64

### B. Handle Duplicated Data

In [ ]:
df.duplicated().sum()

0

### C. Handle Outlier

In [ ]:
# pengelompokan kolom berdasarkan jenisnya
nums = ['Tenure', 'WarehouseToHome',
       'HourSpendOnApp', 'NumberOfDeviceRegistered', 'SatisfactionScore',
       'NumberOfAddress', 'OrderAmountHikeFromlastYear',
       'CouponUsed', 'OrderCount', 'DaySinceLastOrder', 'CashbackAmount']
cats = ['PreferredLoginDevice', 'PreferredPaymentMode', 'Gender', 'PreferedOrderCat', 'MaritalStatus']

In [ ]:
df[nums].describe()

,Tenure,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000,5630.000000
mean,10.134103,15.566785,2.934636,3.688988,3.066785,4.214032,15.721670,1.716874,2.961812,4.459325,177.223030
std,8.357951,8.345961,0.705528,1.023999,1.380194,2.583586,3.588459,1.857640,2.879248,3.570626,49.207036
min,0.000000,5.000000,0.000000,1.000000,1.000000,1.000000,11.000000,0.000000,1.000000,0.000000,0.000000
25%,3.000000,9.000000,2.000000,3.000000,2.000000,2.000000,13.000000,1.000000,1.000000,2.000000,145.770000
50%,9.000000,14.000000,3.000000,4.000000,3.000000,3.000000,15.000000,1.000000,2.000000,3.000000,163.280000
75%,15.000000,20.000000,3.000000,4.000000,4.000000,6.000000,18.000000,2.000000,3.000000,7.000000,196.392500
max,61.000000,127.000000,5.000000,6.000000,5.000000,22.000000,26.000000,16.000000,16.000000,46.000000,324.990000

In [ ]:
from scipy import stats

In [ ]:
# Handling with zscore
print(f'Jumlah baris sebelum memfilter outlier: {len(df)}')

filtered_entries = np.array([True] * len(df))

for col in ['Tenure', 'WarehouseToHome','CouponUsed', 'DaySinceLastOrder', 'CashbackAmount']:
    zscore = abs(stats.zscore(df[col])) # hitung absolute z-scorenya
    filtered_entries = (zscore < 3) & filtered_entries # keep yang kurang dari 3 absolute z-scorenya
    
df = df[filtered_entries] # filter, cuma ambil yang z-scorenya dibawah 3

print(f'Jumlah baris setelah memfilter outlier: {len(df)}')

Jumlah baris sebelum memfilter outlier: 5630
Jumlah baris setelah memfilter outlier: 5473

In [ ]:
df.describe()

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5473.000000,5473.00000,5473.000000,5473.000000,5473.000000,5473.000000,5473.000000,5473.00000,5473.000000,5473.000000,5473.000000,5473.000000,5473.000000,5473.000000,5473.000000
mean,52807.604239,0.16956,9.970217,1.653572,15.511420,2.929107,3.680614,3.06121,4.217248,0.286680,15.718619,1.556550,2.789147,4.309154,176.248946
std,1626.902998,0.37528,8.231396,0.914388,8.048277,0.704582,1.026309,1.37865,2.585479,0.452252,3.583299,1.451251,2.602387,3.322485,47.921656
min,50001.000000,0.00000,0.000000,1.000000,5.000000,0.000000,1.000000,1.00000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,37.000000
25%,51399.000000,0.00000,3.000000,1.000000,9.000000,2.000000,3.000000,2.00000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,145.610000
50%,52791.000000,0.00000,9.000000,1.000000,14.000000,3.000000,4.000000,3.00000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,162.430000
75%,54215.000000,0.00000,15.000000,3.000000,20.000000,3.000000,4.000000,4.00000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,193.770000
max,55630.000000,1.00000,31.000000,3.000000,36.000000,5.000000,6.000000,5.00000,22.000000,1.000000,26.000000,7.000000,16.000000,15.000000,324.730000

In [ ]:
df['PreferredLoginDevice'].replace('Phone','Mobile Phone', inplace=True)
df['PreferredPaymentMode'].replace('CC','Credit Card', inplace=True)
df['PreferredPaymentMode'].replace('Cash on Delivery','COD', inplace=True)
df['PreferedOrderCat'].replace('Mobile','Mobile Phone', inplace=True)

In [ ]:
print ("Number of Every Distinct Categorical Feature After Standardization\n")

for col_name in df.columns:
    if df[col_name].dtypes =='object':
        print ('\nNumber of unique category in {} : {}'.format(col_name, df[col_name].nunique()))
        print ('The values are :')
        print (df[col_name].value_counts())

Number of Every Distinct Categorical Feature After Standardization


Number of unique category in PreferredLoginDevice : 2
The values are :
Mobile Phone    3878
Computer        1595
Name: PreferredLoginDevice, dtype: int64

Number of unique category in PreferredPaymentMode : 5
The values are :
Debit Card     2249
Credit Card    1729
E wallet        592
COD             499
UPI             404
Name: PreferredPaymentMode, dtype: int64

Number of unique category in Gender : 2
The values are :
Male      3288
Female    2185
Name: Gender, dtype: int64

Number of unique category in PreferedOrderCat : 5
The values are :
Mobile Phone          2057
Laptop & Accessory    2015
Fashion                786
Grocery                369
Others                 246
Name: PreferedOrderCat, dtype: int64

Number of unique category in MaritalStatus : 3
The values are :
Married     2904
Single      1756
Divorced     813
Name: MaritalStatus, dtype: int64

### D. Feature Transformation

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
from scipy.stats import skew, kurtosis

In [ ]:
feature_trans = nums.copy()
del feature_trans[:2]
feature_normal = []
feature_non_normal = []

for i in feature_trans:
  skw = skew(df[i])
  kts = kurtosis(df[i])
  if skw < 2 and skw > -2:
    if kts < 2 and kts > -2:
      feature_normal.append(i)
    else:
      feature_non_normal.append(i)
  else:
    feature_non_normal.append(i)

print('Distribusi Normal:', feature_normal)
print('Distribusi Non Normal:', feature_non_normal)

Distribusi Normal: ['HourSpendOnApp', 'NumberOfDeviceRegistered', 'SatisfactionScore', 'NumberOfAddress', 'OrderAmountHikeFromlastYear', 'DaySinceLastOrder', 'CashbackAmount']
Distribusi Non Normal: ['CouponUsed', 'OrderCount']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
feature = df.columns.tolist()
del feature[:2]
feature

['Tenure',
 'PreferredLoginDevice',
 'CityTier',
 'WarehouseToHome',
 'PreferredPaymentMode',
 'Gender',
 'HourSpendOnApp',
 'NumberOfDeviceRegistered',
 'PreferedOrderCat',
 'SatisfactionScore',
 'MaritalStatus',
 'NumberOfAddress',
 'Complain',
 'OrderAmountHikeFromlastYear',
 'CouponUsed',
 'OrderCount',
 'DaySinceLastOrder',
 'CashbackAmount']

In [ ]:
transform = feature_normal + feature_non_normal
X = df[feature]
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
for i in transform:
  scaler = StandardScaler().fit(X_train[[i]])
  X_train[i] = scaler.transform(X_train[[i]])
  X_test[i] = scaler.transform(X_test[[i]])

X_train.head()

,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
1261,0.0,Mobile Phone,1,6.0,Credit Card,Male,0.103593,-0.669688,Mobile Phone,1.387096,Single,-1.254772,0,-0.760671,1.029782,1.646870,0.508553,-0.998946
899,20.0,Mobile Phone,1,8.0,Credit Card,Female,-1.323976,-0.669688,Grocery,-0.059471,Divorced,-0.088206,0,0.911714,-0.375917,0.870358,0.508553,2.005813
2179,7.0,Mobile Phone,3,15.0,Debit Card,Female,0.103593,-0.669688,Laptop & Accessory,-0.059471,Married,-0.865916,0,1.190445,-1.078767,-0.682666,-0.393144,-0.400810
2292,15.0,Mobile Phone,3,11.0,Debit Card,Male,0.103593,-0.669688,Fashion,0.663812,Single,2.244927,1,0.911714,3.841181,1.646870,0.809119,0.173166
3664,1.0,Computer,3,9.0,Debit Card,Male,0.103593,2.273610,Laptop & Accessory,-0.782755,Single,0.300650,0,1.469176,0.326932,-0.294410,-0.994276,-0.010666

In [ ]:
df.describe()

,CustomerID,Churn,Tenure,CityTier,WarehouseToHome,HourSpendOnApp,NumberOfDeviceRegistered,SatisfactionScore,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
count,5473.000000,5473.00000,5473.000000,5473.000000,5473.000000,5473.000000,5473.000000,5473.00000,5473.000000,5473.000000,5473.000000,5473.000000,5473.000000,5473.000000,5473.000000
mean,52807.604239,0.16956,9.970217,1.653572,15.511420,2.929107,3.680614,3.06121,4.217248,0.286680,15.718619,1.556550,2.789147,4.309154,176.248946
std,1626.902998,0.37528,8.231396,0.914388,8.048277,0.704582,1.026309,1.37865,2.585479,0.452252,3.583299,1.451251,2.602387,3.322485,47.921656
min,50001.000000,0.00000,0.000000,1.000000,5.000000,0.000000,1.000000,1.00000,1.000000,0.000000,11.000000,0.000000,1.000000,0.000000,37.000000
25%,51399.000000,0.00000,3.000000,1.000000,9.000000,2.000000,3.000000,2.00000,2.000000,0.000000,13.000000,1.000000,1.000000,2.000000,145.610000
50%,52791.000000,0.00000,9.000000,1.000000,14.000000,3.000000,4.000000,3.00000,3.000000,0.000000,15.000000,1.000000,2.000000,3.000000,162.430000
75%,54215.000000,0.00000,15.000000,3.000000,20.000000,3.000000,4.000000,4.00000,6.000000,1.000000,18.000000,2.000000,3.000000,7.000000,193.770000
max,55630.000000,1.00000,31.000000,3.000000,36.000000,5.000000,6.000000,5.00000,22.000000,1.000000,26.000000,7.000000,16.000000,15.000000,324.730000

### E. Feature Encoding

In [ ]:
for col in cats:
  print(f'value counts of column {col}')
  print(df[col].value_counts())
  print('---'*10, '\n')

value counts of column PreferredLoginDevice
Mobile Phone    3878
Computer        1595
Name: PreferredLoginDevice, dtype: int64
------------------------------

value counts of column PreferredPaymentMode
Debit Card     2249
Credit Card    1729
E wallet        592
COD             499
UPI             404
Name: PreferredPaymentMode, dtype: int64
------------------------------

value counts of column Gender
Male      3288
Female    2185
Name: Gender, dtype: int64
------------------------------

value counts of column PreferedOrderCat
Mobile Phone          2057
Laptop & Accessory    2015
Fashion                786
Grocery                369
Others                 246
Name: PreferedOrderCat, dtype: int64
------------------------------

value counts of column MaritalStatus
Married     2904
Single      1756
Divorced     813
Name: MaritalStatus, dtype: int64
------------------------------

In [ ]:
mapping_login_device= {
    'Mobile Phone' : 0,
    'Computer' : 1
}

mapping_gender = {
    'Male' : 0,
    'Female' : 1
}

mapping_marital_status = {
    'Married' : 0,
    'Single' : 1,
    'Divorced' : 2
}
df['PreferredLoginDevice'] = df['PreferredLoginDevice'].map(mapping_login_device)
df['Gender'] = df['Gender'].map(mapping_gender)
df['MaritalStatus'] = df['MaritalStatus'].map(mapping_marital_status)

In [ ]:
for cat in ['PreferredPaymentMode', 'PreferedOrderCat']:
    onehots = pd.get_dummies(df[cat], prefix=cat)
    df = df.join(onehots)

In [ ]:
df_new = df.drop(columns=['PreferredPaymentMode','PreferedOrderCat']).copy()

In [ ]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5473 entries, 0 to 5629
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   CustomerID                           5473 non-null   int64
 1   Churn                                5473 non-null   int64
 2   Tenure                               5473 non-null   float64
 3   PreferredLoginDevice                 5473 non-null   int64
 4   CityTier                             5473 non-null   int64
 5   WarehouseToHome                      5473 non-null   float64
 6   Gender                               5473 non-null   int64
 7   HourSpendOnApp                       5473 non-null   float64
 8   NumberOfDeviceRegistered             5473 non-null   int64
 9   SatisfactionScore                    5473 non-null   int64
 10  MaritalStatus                        5473 non-null   int64
 11  NumberOfAddress                      5473 non-null   int64
 12  Complain                             5473 non-null   int64
 13  OrderAmountHikeFromlastYear          5473 non-null   float64
 14  CouponUsed                           5473 non-null   float64
 15  OrderCount                           5473 non-null   float64
 16  DaySinceLastOrder                    5473 non-null   float64
 17  CashbackAmount                       5473 non-null   float64
 18  PreferredPaymentMode_COD             5473 non-null   uint8
 19  PreferredPaymentMode_Credit Card     5473 non-null   uint8
 20  PreferredPaymentMode_Debit Card      5473 non-null   uint8
 21  PreferredPaymentMode_E wallet        5473 non-null   uint8
 22  PreferredPaymentMode_UPI             5473 non-null   uint8
 23  PreferedOrderCat_Fashion             5473 non-null   uint8
 24  PreferedOrderCat_Grocery             5473 non-null   uint8
 25  PreferedOrderCat_Laptop & Accessory  5473 non-null   uint8
 26  PreferedOrderCat_Mobile Phone        5473 non-null   uint8
 27  PreferedOrderCat_Others              5473 non-null   uint8
dtypes: float64(8), int64(10), uint8(10)
memory usage: 994.9 KB

### F. Handle Class Imbalance

In [ ]:
#Menampilkan jumlah pelanggan churn dan tidak, membuat target bertipe categorical
df_new['Churn_Class'] = df_new['Churn']>0.9
print(df_new['Churn_Class'].value_counts())

False    4545
True      928
Name: Churn_Class, dtype: int64

In [ ]:
#Pemisahan feature dan target
x = df_new[[col for col in df_new.columns if col not in ['Churn_Class','Churn']]].values
y = df_new['Churn_Class'].values
print(x.shape)
print(y.shape)

(5473, 27)
(5473,)

In [ ]:
#Proses undersampling dan oversampling
from imblearn import under_sampling, over_sampling
x_under, y_under = under_sampling.RandomUnderSampler(1.0).fit_resample(x, y)
x_over, y_over = over_sampling.RandomOverSampler(1.0).fit_resample(x, y)
x_smote, y_smote = over_sampling.SMOTE().fit_resample(x, y)

/usr/local/lib/python3.8/dist-packages/imblearn/utils/_validation.py:587: FutureWarning: Pass sampling_strategy=1.0 as keyword args. From version 0.9 passing these as positional arguments will result in an error
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/imblearn/utils/_validation.py:587: FutureWarning: Pass sampling_strategy=1.0 as keyword args. From version 0.9 passing these as positional arguments will result in an error
  warnings.warn(

In [ ]:
print(pd.Series(y).value_counts())

False    4545
True      928
dtype: int64

In [ ]:
print(pd.Series(y_over).value_counts())

True     4545
False    4545
dtype: int64

In [ ]:
print(pd.Series(y_under).value_counts())

False    928
True     928
dtype: int64

In [ ]:
print(pd.Series(y_smote).value_counts())

True     4545
False    4545
dtype: int64

## 2. Feature Engineering

## A. Feature Selection
Feature selection tidak dapat dilakukan karena semua feature digunakan untuk modelling

## B. Feature Extraction

Menambahkan feature average churn

In [ ]:
df['avg_cashback_per_order'] = df['CashbackAmount'] / df['OrderCount']

In [ ]:
churn_percentage = round((df['Churn'][df['Churn']==1].count()*100/df['Churn'][df['Churn']==0].count()),2)

In [ ]:
print ('rata-rata churn adalah', churn_percentage, '%')

rata-rata churn adalah 20.42 %

## C. Feature Tambahan
1. Age = untuk mengetahui persebaran umur yang lebih banyak churn.
2. Product recommendation = untuk dapat mengukur kategori mana yang dapat ditawari promo.
3. Product review = menggali ulasan customer sehingga dapat membantu keputusan pembelian bagi customer berikutnya.
4. Call-to-action = memberikan informasi baru tentang produk-produk atau promo sehingga dapat menarik perhatian customer.